{% extends 'vgc/base.html' %}
{% load staticfiles %}

{% block title_block %}
	VGC
{% endblock %}

{% block body_block %}
		<h1>Add VideoGame</h1>
		<div>
			<form id="videogame_form" method="post" action="/vgc/add_videogame/" enctype="multipart/form-data">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
					<br>
				{% endfor %}
				<input type="submit" name="submit" value="Create VideoGame" />
			</form>
{% endblock %}
