<!DOCTYPE html>
{% load vgc_template_tags %}
{% load staticfiles %}

<html>
	<head>
		<title>
			VGC
			{% block title_block %}
				Video Game Characters
			{% endblock %}
		</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		<hr />
		<div>
			<ul>
			<li><a href="{% url 'show_list_of_games' %}">Video Games</a></li>
			<li><a href="{% url 'all_characters' %}">Browse all characters</a></li>
			<li><a href="{% url 'index' %}">Homepage</a></li>
			{% if user.is_authenticated %}
				Welcome {{ user.username }}!
				<li><a href="{% url 'user_profile' %}">User Profile</a></li>
				<li><a href="{% url 'your_top_10' user %}">Your Top 10</a></li>
				<li><a href="{% url 'add_videogame' %}">Add a videogame</a></li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
				<li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
				<script>
  					(function() {
    					var cx = '001349823383828237757:2aospyjkpla';
    					var gcse = document.createElement('script');
    					gcse.type = 'text/javascript';
    					gcse.async = true;
    					gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    					var s = document.getElementsByTagName('script')[0];
    					s.parentNode.insertBefore(gcse, s);
  					})();
				</script>
				<gcse:search></gcse:search>
			</ul>
		</div>
	</body>
</html>