{% extends 'vgc/base.html' %}
{% load staticfiles %}


{% block title_block %}
{{ character.name }}
{% endblock %}

{% block body_block %}
<div class="jumbotron">
	<h1>{{ character.name }}</h1>
</div>
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading"> 
			{% if rating %}
			Rating : {{rating}}
			{% endif%}
			<br></h2>
			<p class="lead">{% if character.bio %}
				{{character.bio}}
				{% endif%}
				<br>
				{% if character.url %}
				More Details : <a href="{{character.url}}" > {{character.url}}  </a>
				{% endif%}
				<form id="rating_form" method="post" action="/vgc/rate/{{ character.slug }}/">
				{% csrf_token %}
	                <input id="id_rating" max="100" min="0" name="rating" type="number" />
	 			<label class="btn btn-primary">
	            <input type="submit" name="submit" value="Rate"  style="display:none;"/>
	            Rate
	            </label>
	        </form>
			</div>
			<div class="col-md-5">
				{% if character.picture %}
				<br/><img src="{{ character.picture.url }}" width="200"  height="200"></img></br>
				{% else %}
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
				{% endif %}
				<hr class="featurette-divider">
			</div>
		</div>
	</div><!-- /.col-lg-4 -->
	{% endblock %}
