<div class="jumbotron">
      <div class="container">
        <h1>Choose a character!</h1>
      </div>
    </div>

<!-- Three columns of text below the carousel -->
<div class="container">
<div class="row">
{% if characters %}
		{% for c in characters %}

        <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">
			{% if c.picture %}
			<img src="{{ c.picture.url }}" width="140"  height="140"></img>
			{% else %}
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			{% endif %}
          <h2>{{ c.name }}</h2>
          <p>
          <input class="btn btn-primary" type="button" onclick="location.href='{% url 'show_character' c.slug %}';" value="View details" /></p>
          </br>
        </div><!-- /.col-lg-4 -->
       {% endfor %}
       </div>
       {% else %}
		<li> <strong>There are no characters present.</strong></li>
		{% endif %}

</div>