<!DOCTYPE html>

{% extends 'vgc/base.html' %}
{% load staticfiles %}

{% block title_block %}
	VGC
{% endblock %}
{% block body_block %}
	<h1>VGC HomePage</h1>
	 What is VGC?
	 It Stands for Video Game Characters
	 VGC creates an environment for video game lovers to come together and rate
	 videogame’s most popular and unpopular characters.
	 
	 <br>
	 Here are some other user's top 10 list :
	 <br>
	 {% for key,value in l.items %}
	 <li>
	 	 {{ key }} 's top characters :
		{% for c in  value %}
			{% if c.character %}
			{{c.position}}: <a class="btn btn-default" href="{% url 'show_character'  c.character.slug %}" role="button">{{ c.character.name }}</a>
			{% endif %}
		{% endfor %}
	 <br>
	 </li>
	 {% endfor %}
	 
{% endblock %}