<!DOCTYPE html>

{% extends 'vgc/base.html' %}
{% load staticfiles %}

{% block title_block %}
VGC
{% endblock %}
{% block body_block %}
<div class="jumbotron">
	<h1>VGC HomePage</h1>
</div>
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading"> 
			What is VGC?
			<br></h2>
			<p class="lead">
				Video Game Characters!
				<br>
				VGC creates an environment for video game lovers to come together and rate
				videogame’s most popular and unpopular characters.
				<br>
			</p>
		</div>
		<div class="col-md-5">
			<div class="jumbotron">
				<h4> Here are some other user's top 10 lists :</h4>
			</div>
		</div>
	</div>
	<div class="container">
	<div class="row">
		{% for key,value in l.items %}
		<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">
				<strong>{{ key }}'s</strong> top characters :
				<li>
				{% for c in  value %}
				{% if c.character %}
				{{c.position}}: <a class="btn btn-primary" href="{% url 'show_character'  c.character.slug %}" role="button">{{ c.character.name }}</a></p>
				{% endif %}
				{% endfor %}
			</li>
			</div>
		{% endfor %}
	</div>
<hr class="featurette-divider">
</div>
</div><!-- /.col-lg-4 -->	

{% endblock %}