{% extends "vgc/base.html" %}
{% block body_block %}

<div class="hero-unit">
        {% if registered %}
        <div class="jumbotron">
        <div class="container">
        <h1>Thank you for registering!</h1>
        </div>
    </div>
        {% else %}
     <div class="jumbotron">
     <div class="container">
        <h1>Register!</h1>
        </div>
    </div>
    <div class="container">
	<h2 class="form-signin-heading">Sign Up Here</h2>

	<form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
    	{% csrf_token %}
    <div class="form-group" >
    <p class="required"><label class="required" for="id_username">Username:</label>
        <input class="form-control" id="id_username" maxlength="30" name="username" type="text" />
    </p>
        <p class="required"><label class="required" for="id_email">E-mail:</label>
            <input class="form-control" id="id_email" name="email" type="email" />
        </p>
    <p class="required"><label class="required" for="id_password1">Password:</label>
        <input class="form-control" id="id_password1" name="password" type="password" />
    </p>
    <p> <label class="btn btn-primary" for="id_picture">
    	<input id="id_picture" name="picture" type="file" style="display:none;">
    	Picture
		</label>
		<span class="helptext">Pick your profile picture (Optional)</span>
	</p>
</div>
    <button type="submit" class="btn btn-primary" value="Register">Submit</button>
</form>
</div>
<br>
{% endif %}
</div>
</div>
{% endblock %}