{% extends 'vgc/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ videogame.name }}
{% endblock %}


{% block body_block %}
	{%if videogame %} 
	<div class="jumbotron">
		<h1/>{{ videogame.name }}</h1>
</div>
	</div>
	{% if characters %}
	<div class="container">
	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading"> 
				All characters :
				<br></h2>
				<p class="lead">
					{% for character in characters %}	
				<li><a href="{% url 'show_character' character.slug %}" >{{character.name}} </a></li>
				{% endfor %}
				{% else %}
					<br>
					No characters currently in videogame.
				</p>
				{% endif %}
				{% if user.is_authenticated %}
				<br>
		<input class="btn btn-primary" type="button" onclick="location.href='{% url 'add_character' videogame.slug %}';" value="Add a Character" /></p>
		{% endif %}
		</div>
			</div>
		</div>
	</div><!-- /.col-lg-4 -->	
	{% else %}
	<div class="jumbotron">
		<h1/>The specified videogame does not exist!</h1>
	</div>
	{% endif %}
{% endblock %}