{% extends 'vgc/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ user.username }} 's Top 10
{% endblock %}

{% block body_block %}
<div class="jumbotron">
      <div class="container">
        <h1>{{user.username}}'s Top 10</h1>
      </div>
    </div>

<!-- Three columns of text below the carousel -->
<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">
</br>
{% for l in list %}
      {% if l.position == 1 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>
			
		{% endif %}
{% endfor %}
{% if pos1 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">	
{% endif %}
	   	<form id="choice1" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
				{% csrf_token %}
				{% for hidden in form1.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form1.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
					 <br>
				{% endfor %}
				<label class="btn btn-primary">
				<input  type="submit" name="submit_1" value="Choose First" style="display:none;" />Choose First
				</label>
		</form>
</div><!-- /.col-lg-4 -->
		
		
		
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">
</br>
{% for l in list %}	
		{% if l.position == 2 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>
			
	   {% endif %}
{% endfor %}	
{% if pos2 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">
{% endif %}
	   <form id="choice2" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
		 {% csrf_token %}
		 {% for hidden in form2.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form2.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						 <br>
					{% endfor %}
					<label class="btn btn-primary">
				<input  type="submit" name="submit_2" value="Choose Second" style="display:none;" />Choose Second
				</label>
		 </form>
	</div><!-- /.col-lg-4 -->		
		 
		
		
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">	
</br>	 
{% for l in list %}
		 {% if l.position == 3 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>
			
	     {% endif %}
{% endfor %}
{% if pos3 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">	
{% endif %}
		<form id="choice3" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
		 {% csrf_token %}
		 {% for hidden in form3.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form3.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						 <br>
					{% endfor %}
					<label class="btn btn-primary">
				<input  type="submit" name="submit_3" value="Choose Third" style="display:none;" />Choose Third
				</label>
		 </form>
	</div><!-- /.col-lg-4 -->	
		 
		 
		 
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">		 
</br>
{% for l in list %}
		{% if l.position == 4 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>
			
	   {% endif %}
{% endfor %}
{% if pos4 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">	
{% endif %}
		<form id="choice4" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
		 {% csrf_token %}
		 {% for hidden in form4.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form4.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						 <br>
					{% endfor %}
					<label class="btn btn-primary">
				<input  type="submit" name="submit_4" value="Choose Fourth" style="display:none;" />Choose Fourth
				</label>
		 </form>
	</div><!-- /.col-lg-4 -->	
	
	
		 
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">			 
{% for l in list %}
		 {% if l.position == 5 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>
			
		{% endif %}
{% endfor %}
{% if pos5 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">	
{% endif %}
		 <form id="choice5" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
		 {% csrf_token %}
		 {% for hidden in form5.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form5.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						 <br>
					{% endfor %}
					<label class="btn btn-primary">
				<input  type="submit" name="submit_5" value="Choose Fifth" style="display:none;" />Choose Fifth
				</label>
		 </form>
	</div><!-- /.col-lg-4 -->		
		 
		 
		 
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">			 
{% for l in list %}
		 {% if l.position == 6 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>
		{% endif %}
{% endfor %}	
{% if pos6 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">
{% endif %}
		<form id="choice6" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
		 {% csrf_token %}
		 {% for hidden in form6.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form6.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						 <br>
					{% endfor %}
					<label class="btn btn-primary">
				<input  type="submit" name="submit_6" value="Choose Sixth" style="display:none;" />Choose Sixth
				</label>
		 </form>
	</div><!-- /.col-lg-4 -->	 
		 
		
		 
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">			 
{% for l in list %}
		{% if l.position == 7 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>

		{% endif %}
{% endfor %}	
{% if pos7 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">
{% endif %}
		<form id="choice7" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
		 {% csrf_token %}
		 {% for hidden in form7.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form7.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						 <br>
					{% endfor %}
					<label class="btn btn-primary">
				<input  type="submit" name="submit_7" value="Choose Seventh" style="display:none;" />Choose Seventh
				</label>
		 </form>
	</div><!-- /.col-lg-4 -->		
		
		
		
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">		
{% for l in list %}
		 {% if l.position == 8 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>
			
		{% endif %}
{% endfor %}
{% if pos8 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">	
{% endif %}
		<form id="choice8" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
		 {% csrf_token %}
		 {% for hidden in form8.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form8.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						 <br>
					{% endfor %}
					<label class="btn btn-primary">
				<input  type="submit" name="submit_8" value="Choose Eight" style="display:none;" />Choose Eight
				</label>
		 </form>
	</div><!-- /.col-lg-4 -->		
		 
		 
		 
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">		 
{% for l in list %}
		 {% if l.position == 9 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>
			{% endif %}
{% endfor %}	
{% if pos9 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">
{% endif %}
		<form id="choice9" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
		 {% csrf_token %}
		 {% for hidden in form9.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form9.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						 <br>
					{% endfor %}
					<label class="btn btn-primary">
				<input  type="submit" name="submit_9" value="Choose Ninth" style="display:none;" />Choose Ninth
				</label>
		 </form>
	</div><!-- /.col-lg-4 -->		
	
	
		
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3">	
{% for l in list %}
		  {% if l.position == 10 %}
			{% if l.character.picture  %}
			<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
			{% else%}
			<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
			{% endif %}
			<h2>{{ l.character.name }}</h2>

		 {% endif %}
{% endfor %}	
{% if pos10 == False %}
<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"lt="image" width="140" height="140">
{% endif %}
		<form id="choice10" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
		 {% csrf_token %}
		 {% for hidden in form10.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form10.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
						 <br>
					{% endfor %}
					<label class="btn btn-primary">
				<input  type="submit" name="submit_10" value="Choose Tenth" style="display:none;" />Choose Tenth
				</label>
		 </form>
	</div><!-- /.col-lg-4 -->		
	
</div>	 
	 
{% endblock %}