{% extends 'vgc/base.html' %}
{% load staticfiles %}
{% load vgc_template_tags %}

{% block title_block %}
	{{ user1 }} 's Top 10
{% endblock %}

{% block body_block %}
			<script type="text/javascript">
				$(document).ready(function() {
					$('a#logout').click(function(){
						});
						
					for (i = 1; i < 11; i++) {
					var l = "#" + i
						$(l).hide();
						$(l).removeClass( "invisible" );
					}
					
					for (i = 0; i < 11; i++) {
					var l = "#" + i
						$(l).fadeIn(5000);
					}
				});
			</script> 

			
<div class="jumbotron">
      <div class="container">
        <h1>{{user1}}'s Top 10</h1>
      </div>
    </div>

<!-- Three columns of text below the carousel -->
<div class="container">
<div class="row">



{% for r in range %}
<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3 invisible" id="{{r}}" >
	{% with name=r %} 
		{% for l in list %}
			{% if l.position == r %}
				{% if l.character.picture  %}
						<img class="img-circle" img src="{{ l.character.picture.url }}" alt="image" width="140" height="140">
				{% else%}
						<img class="img-circle" img src="{{MEDIA_URL}}NoCharPicture.png"alt="image" width="140" height="140">
				{% endif %}
				<br>
				<input class="btn btn-primary" type="button" onclick="location.href='{% url 'show_character' l.character.slug %}';" value="{{l.position}} :{{ l.character.name }}" />
			{% endif %}
		{% endfor %}
		{% update_pos user1 r as pos1 %}
		{% if pos1 == False %}
			<img class="img-circle" img src="{{MEDIA_URL}}Empty.png"alt="image" width="140" height="140">	
		{% endif %}
		{% if user1 == user.username %}
			<form id="choice1" method="post" action="/vgc/{{ user.username }}/yourtop10/" enctype="multipart/form-data">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
					<br>
				{% endfor %}
			<label class="btn btn-primary"><input  type="submit" name= "{{name}}" value="Choose First" style="display:none;" />Choose Ranked {{r}}</label>
			</form>
		{% endif %}
	{% endwith %}
</div>
{% endfor %}

</div>	 
	
{% endblock %}